{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

    <!-- Javascript-->
    <script src="{% static 'js/form.js' %}" defer></script>
    
</head>
<body>
    <main>
        <aside class="window">
            <h1>Cadastro de usuário</h1>
            <p><i>Campos obrigatórios são representados por: *</i></p>
            <form method="post" autocomplete="off" id="register_form">
                {% csrf_token %}

                <!-- CAMPO SELECIONAVEL-->
                <div class="input_field">
                    Selecione a sua situação:
                    {{ form.type }}
                </div>

                <!-- NOME COMPLETO -->
                <div class="input_field">
                    {{ form.fullname }}
                </div>

                <!-- MATRÍCULA -->
                <div class="input_field">
                    {{ form.student_id }}
                </div>

                <!-- EMAIL E TELEFONE -->
                <div class="input_field">
                    {{ form.username }}
                    {{ form.phone }}
                </div>

                <!-- SENHA E CONFIRMAR SENHA -->
                <div class="input_field">
                    {{ form.password1 }}
                    {{ form.password2 }}
                </div>

                <!-- DATA DE NASCIMENTO -->
                <div class="input_field">
                    <legend>Data de Nascimento*</legend> 
                    {{ form.birthdate }}
                </div>

                <!-- INSTRUÇÕES -->
                <span>
                    <ul id='invalid_input'>
                        <li id="instruction">• Sua senha precisa ter no mínimo 8 digitos e deve conter um caractere maiúsculo, um caractere minúsculo, um número e um caractere especial (#!$*&@?)</li>
                        <li class="hidden">• Você deve se identificar com pelo menos um Sobrenome</li>
                        <li class="hidden">• Verifique se seu endereço de email está formatado corretamente, exemplo: meuemail@endereço.com</li>
                        <li class="hidden">• O número do telefone deve ser válido ou deixado em branco. (verifique se o DDD está correto, ou em caso de números de celular se o primeiro digito é '9')</li>
                        <li class="hidden">• Suas senhas precisam ser compatíveis.</li>

                        {% if field.errors %}
		                <ul class="errorlist">
			                {% for error in field.errors %}
			                <li>{{ error }}</li>
			                {% endfor %}
		                </ul>
		                {% endif %}
                    </ul>
                </span>

                <!-- SUBMIT -->
                <div id="submit_button">
                    <input type="submit" value="Enviar">
                </div>
            </form>

        </aside>
    </main>
    
</body>
</html>